<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../../src/css/bootstrap.min.css">
  <title>Document</title>
</head>

<body>

  <form>
    <div class="form-row">
      <div class="col">
        <input id="number0" type="number" size="1" maxlength="1" class="text-center form-control">
      </div>
      <div class="col">
        <input id="number1" type="text" size="1" maxlength="1" class="text-center form-control">
      </div>
      <div class="col">
        <input id="number2" type="text" size="1" maxlength="1" class="text-center form-control">
      </div>
      <div class="col">
        <input id="number3" type="text" size="1" maxlength="1" class="text-center form-control">
      </div>
      <div class="col">
        <input id="number4" type="text" size="1" maxlength="1" class="text-center form-control">
      </div>
      <div class="col">
        <input id="number5" type="text" size="1" maxlength="1" class="text-center form-control">
      </div>
    </div>
    <button id="otp" class="btn btn-block my-4" style="background-color: #05b1ff;text-transform: uppercase;">
  </form>
</body>

</html>